// Colores
$white: #ffffff;
$bg-main: #f6f6f9;
$bg-sidebar: #f6f6f9;
$bg-link-disable: #f2f2f8;
$bg-link-active: #f0f0ff;
$bg-link-number-active: #4945ff;
$bg-link-number-inactive: #aaaabf;
$bg-btn-buscar: #4945ff;
$bg-content: #ffffff;
$bg-card: #ffffff;
$border-input: #4945ff;
$border-color: #eaeaef;
$tx-search: #666687;
$tx-query: #32324D;
$tx-placeholder: #666687;
$tx-total: #767682;
$border-card: #EAEAEF;